@media only screen and (max-width:1130px) {
    header{
        .nav{
            min-height: 5vh;
        }
    }
    
    main{
        .site-tittle{
            height: 45vh;
        }
        .blog{
            height: 38vh;
        }
        .site-content {
            .post-content{
                .post-image .post-info {
                    left: 2rem !important;
                    bottom: 1.2rem !important;
                    border-radius: 0% !important;
                }
            }
            .sidebar{
                .popular-post{
                    .post-info{
                        display: none !important;
                    }
                }
            }
        }
    }
    .footer{
        .container{
            grid-template-columns: repeat(2,1fr);
        }
    }
}