main {
    .site-content {
        .sidebar {
            .popular-tags {
                h2{
                    margin-bottom: 1rem;//16px
                }
                padding: 5rem 0;//80px
                .tags{
                    .tag{
                        background: $gradient;
                        padding: .8rem 1rem; //8px 16px
                        border-radius: 3rem;//48px
                        margin: .5rem .6rem; //8px 10px
                    }
                }
            }
        }
    }
}